* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 13px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 5px;
  border-radius: 12px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}


#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
  border-radius: 12px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}
#temperature,
#mpris,
#cpu,
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

/* player in waybar */
#mpris {
    background-color: #eb945f;
    border-radius: 12px;
    font-size: 10px;  
}

#mpris.paused {
  background-color: #f9e2af;
}

#mpris.spotify {
  background-color: #1ed760; /* Verde do Spotify */
}

#cpu {
    /* color: #f5c2e7;
    background-color: #313244;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 5px; */
    background-color: #7dbfee;
    border-radius: 12px;
}

#temperature {
    background-color: #7fd67e;
    border-radius: 12px;
}

#temperature.critical {
    background-color: #e75557;
    border-radius: 12px;
}

#disk {
    background-color: #7dbfee;
    border-radius: 12px;
    padding: 6px 12px;
    margin: 6px 3px;
    color: #1e1e2e;
}

#disk.warning {
    background-color: #7dbfee;
}

#disk.critical {
    background-color: #7dbfee; 
}


#memory {
  background-color: #7dbfee;
  border-radius: 12px;
}

#battery {
  background-color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#backlight {
  background-color: #fab387;
}

#wireplumber {
  background-color: #d5aff9;
  border-radius: 12px;
  padding-left: 6px;;
}

#network {
  background-color: #75d4c4;
  padding-right: 15px;
  border-radius: 12px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #a271dd;
  border-radius: 12px;
}

#custom-power {
  background-color: #df6464;
  border-radius: 12px;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
  border-color: #7dbfee;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
  border-color: #7dbfee;
}
